<form
  class="form-horizontal"
  autocomplete="off"
  #editRoleForm="ngForm"
  (ngSubmit)="submit()"
>
  <abp-modal-header
    [title]="model.id ? 'Edit Product' : 'Create Product'"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        [(ngModel)]="model.name"
        required="required"
      />
    </div>
    <div class="form-group">
      <label for="code">Code</label>
      <div class="input-group">
        <input
          id="code"
          name="code"
          type="text"
          required="required"
          readonly
          class="form-control"
          [(ngModel)]="model.code"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
            (click)="generateCode()"
          >
            <i class="fa fa-qrcode"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Suggested price</label>
      <input
        id="price"
        name="price"
        type="text"
        class="form-control"
        currencyMask
        [(ngModel)]="model.price"
        [options]="{ prefix: 'RD$: ', thousands: ',', decimal: '.' }"
        required="required"
      />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <div>
        <select
          id="category"
          name="category"
          class="custom-select"
          [(ngModel)]="model.categoryId"
          required="required"
        >
          <option selected="true" disabled="disabled">Choose Category</option>
          <option *ngFor="let item of categories" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
